---
---

@import "{{ site.theme }}";

body{
    font-size: 16px;
}

a {
    color: #674EA7;
    font-weight: 800;
    text-decoration: none;
}

header {
    width: 160px;
}

header li {
    width: 150px;
    height: 20px;
    background: #674EA7;
    background: -moz-linear-gradient(top, #674EA7 0%, #3D2E64 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8), color-stop(100%, #dddddd));
    background: -webkit-linear-gradient(top, #674EA7 0%, #3D2E64 100%);
    background: -o-linear-gradient(top, #674EA7 0%, #3D2E64 100%);
    background: -ms-linear-gradient(top, #674EA7 0%, #3D2E64 100%);
    background: linear-gradient(to top, #674EA7 0%, #3D2E64 100%);
    -webkit-box-shadow: inset 0px 1px 1px 0 #3D2E64;
    box-shadow: inset 0px 1px 1px 0 #3D2E64;
}

header li:hover {
    background: #674EA7;
    background: -moz-linear-gradient(top, #674EA7 0%, #3D2E64 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8), color-stop(100%, #dddddd));
    background: -webkit-linear-gradient(top, #674EA7 0%, #3D2E64 100%);
    background: -o-linear-gradient(top, #674EA7 0%, #3D2E64 100%);
    background: -ms-linear-gradient(top, #674EA7 0%, #3D2E64 100%);
    background: linear-gradient(to top, #674EA7 0%, #3D2E64 100%);
}

section {
    max-width: max-content;
}
